/* base style */
header {
    text-align: center;
    align-items: center;
    background-color: #fec631;
    color: #01335b;

}

header img {
    justify-content: center;
    max-width: 150px;
    width: 100%;
}

header h1 {
    font-family: 'Libre Baskerville', serif;
    padding-right: 70px;
    font-size: 30px;
}

.navigation a {
    border: solid 1px white;
    background-color: #01335b;
    padding: 20px 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

/* Responsive Menu */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖️";
}

.navigation {
    justify-content: space-around;
    align-items: center;

    list-style-type: none;
    padding: 0;
    color: azure;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navigation ul {
    list-style-type: none;
}

.navigation a {
    display: none;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}



.open a {
    display: block;
}

.active {
    background-color: #555;
    font-weight: bold;
    border-left: 3px solid #ff0;
}


.stuff {
    margin: 0.5px;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #bed;
    max-width: 580px;
    height: 100vh;

}

/* wayfinding */
.navigation {

    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: none;
}

.navigation.open {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
}

.navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navigation a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

.current-page {
    color: #ff0;
}

.current-indicator {
    width: 8px;
    height: 8px;
    background-color: #ff0;
    border-radius: 50%;
    margin-left: 5px;
}

/* weather */

.weather {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #ea670e;
    text-shadow: 1px 1px 2px #525252;
}

.container {
    background-color: #fcf4c3
}


.call-to-action a {
    position: sticky;
    margin-top: 30px;
    background-color: #01335b;
    padding: 20px;
    color: white;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    width: 80%;
    border: solid 1px white;
    /* margin: 60px; */
    justify-content: center;

}

.call-to-action {
    text-align: center;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
}

.hero-image {
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.hero-image img {
    width: 100%;
    max-width: 100px;
}

/* Rentals */

.rentals {
    flex: 1;
    background-color: #fcf4c3;
    text-align: center;
}

.rentals ul li {
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.rentals a {
    position: sticky;
    margin-top: 30px;
    background-color: #01335b;
    padding: 20px;
    color: white;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    width: 50%;
    border: solid 1px white;
    /* margin: 60px; */
    justify-content: center;

}

/* Banner */

#weather-message {
    top: 1%;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #001b64;
    color: #ffff66;
    font-weight: bold;
    padding: 10px 20px;
    z-index: 9999;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    height: 50px;
    border: #445ba9;
}



.close-btn {
    top: 50%;
    bottom: 50%;
    float: right;
    cursor: pointer;
}

/* Footer */

.footer {
    background-color: #001b64;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
}


.logo-section {
    justify-content: left;
    background-color: #001b64;
    display: flex;
    flex-direction: row;
    color: #ffff66;

}

.logo-section img {
    width: 100%;
    max-width: 100px;
}

.author-details {
    border-top: 1px solid #ffff66;
    background-color: #001b64;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

}

.author-details p {

    margin: 10px;
    color: #ffff66;

}

.footer section {
    margin: 0;
}

h5 {
    color: #001b64;
}


.social-media {
    background-color: #001b64;
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: right;
}

.social-media img {
    margin-top: 25px;
    width: 50px;
}

.social-logo {
    gap: 50px;
    display: grid;
    grid-template-columns: 3fr 3fr;
}


/* tables */

table {
    width: 90%;
    border-collapse: collapse;

}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.image-column img {
    max-width: 50px;
    display: block;
    margin: auto;
}


/* reservation */

/* form styling */

.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;

}

.wf1 legend {
    color: #445ba9;
    padding: 0.5rem;
}

.wf1 label,
textarea {
    display: block;
    padding: 1rem;
    font-size: .9rem;
}

.wf1 div {
    color: #01335b;
    font-size: .9rem;
    font-weight: bold;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="text"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 select,
.wf1 input[type="number"],
.wf1 input[type="date"],
.wf1 textarea {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 input[type="radio"] {
    margin-right: 6px;
}



.wf1 button[type="submit"] {
    border: none;
    background-image: -o-repeating-linear-gradient(45deg, #445ba9, #001b64);
    background-image: repeating-linear-gradient(45deg, #445ba9, #001b64);
    color: whitesmoke;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 0rem 2% 2rem 2%;

}

.wf1 input:required {
    border-right: solid 8px red;
}


.wf1 input:required:valid {
    border-right: solid 8px green;
}

.reserve-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

/* Prevent hover effect on disabled submit button */
.reserve-button:disabled:hover {
    background-color: #ccc;
    color: #666;
}

.agree-checkbox {
    display: flex;
}


.contact-h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #001b64;
}

.contact {
    background-color: #fcf4c3;
}

.contact-info {
    display: grid;
    grid-template-columns: 3fr 3fr;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.contact-info iframe {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.form-container {
    display: grid;
    grid-column: auto;
    background-color: #fcf4c3;
    padding: 0%;
}

.contact-form h1 {
    text-align: center;
}

.contact-form {
    display: flex;
    justify-content: center;
    border: solid 1px #001b64;
    width: 90%;
    max-width: 90%;
}