@media only screen and (min-width: 768px) {

    header {
        display: grid;
        grid-template-columns: auto auto 1fr;
        color: #F6ECA9;
        background-color: #11235A;
    }


    #mode {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 3rem;
        cursor: pointer;
        font-size: 2rem;
    }

    header nav {
        display: flex;
        align-items: center;
        grid-column: 3;
    }


    header nav a {
        padding-left: 85px;
        padding-right: 85px;
        background-color: #F6ECA9;
        text-decoration: none;
        font-size: 15px;
        /* color: #11235A; */
        border: 1px solid black;
        margin-left: 25px;
        margin-right: 25px;
        align-items: flex-end;
        font-weight: bold;
        font-family: 'Cabin', sans-serif;
    }

    header nav a:hover {
        background-color: #C6CF9B;
        color: #596FB7;
    }

    main {
        padding: 10px;
    }

    section {
        border: 1px solid #C6CF9B;
        margin-bottom: 10px;
        padding: 10px;
    }

    /* Hero image Section */
    .hero-image a:hover {
        background-color: #C6CF9B;
        color: #596FB7;
    }

    .hero-image h2 {
        font-size: 1px;
        transform: translate(-100%, -100%);
    }

    .hero-image a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(17, 35, 90, 0.8);
        color: #F6ECA9;
        padding: 15px 30px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 20px;
        font-size: 50px;
    }

    .hero-image img {
        width: 100%;
        height: auto;
    }

    /* Section-groups */

    .section-group {
        display: grid;
        grid-template-columns: auto auto;
    }


    /* Discover */

    .navigation-index ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #555555;
        list-style-type: none;
        padding: 0;
        color: azure;
        padding: 0;
        margin: 0;
        width: 100%;

    }

    .navigation-index li {
        flex-grow: 1;
        text-align: center;
    }

    .navigation-index ul li {
        margin: 0 10px;
    }

    .navigation-index a {
        display: block;
        text-decoration: none;
        color: #ffffff;
        padding: 10px;
        font-size: larger;
    }


    /* Container */

    .container {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
    }

    /* Local Storage */

    .localStorage {
        font-size: 24px;
        /* Adjust font size as needed */
        color: #11235A;
        text-align: center;
    }



    #main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image-section {
        width: 100%;
        text-align: center;
    }

    .image-section img {
        width: 100%;
        height: auto;
        /* object-fit: cover; */
    }

    .image-section {
        position: relative;
    }

    .image-section figcaption {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.7);
        font-size: 30px;
        padding: 20px;
        width: 100%;
        text-align: center;

    }

    .image-section img {
        width: 100%;
        background-color: grey;
        animation: fade 15s;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .fade-in {
        animation: fade 1s ease-in-out forwards;
    }



    /* hover */

    .image-section {
        position: relative;
        overflow: hidden;
    }

    .image-section img {
        transition: transform 0.3s ease;
    }

    .image-section:hover img {
        transform: scale(1.1);
        /* Increase the size of the image on hover */
    }

    .image-section figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        /* Semi-transparent black background */
        color: #fff;
        /* Text color */
        padding: 10px;
        margin: 0;
        opacity: 0;
        /* Initially hide the caption */
        transition: opacity 0.3s ease;
    }

    .image-section:hover figcaption {
        opacity: 1;
        /* Show the caption on hover */
    }


    /* Container */

    .sidebar-content h2 {
        margin-top: 0;
        padding: 0;
        background-color: #003008;
        /* Background color */
        color: #d3e87d;
        /* Text color */

    }

    .sidebar-content p {
        margin-top: 0;
        padding: 0;
        font-size: 20px;

    }

    .sidebar-content {
        margin: 0;
        padding: 0;
        gap: 20px;
        background-color: #f0f0f0;
        border-radius: 8px;
        height: 100%;
    }
}