/* large view navigation ************************************/
@media (min-width: 37.5em) {
    header h1 {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
    }

    nav {
        text-align: center;
    }

    nav ul {
        background-color: #555555;
        list-style-type: none;
        padding: 0;
        color: azure;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 0 10px;
    }

    nav a {
        text-decoration: none;
        color: #fff;
        font-size: larger;
    }

    /* hero-image */

    /* .hero-image {
        position: relative;
        display: block;
    } */



    .hero img {
        width: 100%;
        height: auto;
    }


    .temple {
        position: absolute;
        top: 30%;
        left: 20%;
        transform: translate(-50%, -50%);
        background-color: rgba(17, 35, 90, 0.8);
        color: #F6ECA9;
        padding: 15px 30px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 20px;
        font-size: 20px;
        text-align: center;
    }
}